header{
    display: flex;
    align-content: space-around;
    flex-direction: row;
    background-color: antiquewhite;
}

.head ul{
display: inline-block;
align-content: space-around;
}

#list li{
    display: inline-block;
    text-decoration-style: none;
    align-items: space-between;
    

}

